body {
  margin: 0;
}
.lake {
  fill: lightblue;
}

.canton {
  fill: #fff;
  stroke: #1e1e1e;
  stroke-width: 0.8px;
}

.canton.selected {
  fill-opacity: 0;
  pointer-events: none;
}

.commune {
  fill: #ffb8b8;
  stroke: white;
  stroke-width: 0.3px;
}

.commune.selected {
  fill: #d91b1b;
}

#info.empty {
  display: none;
}

.root {
  position: relative;
}

#info {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: #000a 2px 2px 2px 2px;
  bottom: 20px;
  left: 20px;
  max-height: 28em;
  overflow-y: auto;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  padding: 1em 2em 1em 2em;
}

#info h2 {
  margin: 0;
}

.section:not(:last-child) {
  border-bottom: 1px solid black;
}

#map {
  background: grey;
  height: 40vh;
}

#switzerland_1 {
  stroke: black;
  stroke-width: 1.2px;
  fill: none;
}
